body {
	background-color: #f9f7fe;
}
.weather-app {
	max-width: 600px;
	background-color: #ffffff;
	display: block;
	margin: 60px auto;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 0px 3px 54px 20px rgba(0, 0, 0, 0.06);
}
p {
	color: #b0afb9;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
header {
	border-bottom: 1px solid #f9f7fe;
	padding-bottom: 30px;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding: 20px;
	border-radius: 10px;
	border: none;
	margin-top: 25px;
}
input[type="search"] {
	background-color: #f9f7fe;
	width: 75%;
	margin-right: 10px;
}
input[type="submit"] {
	color: white;
	background-color: #885df1;
}
main {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	display: block;
}
h1 {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-style: normal;
}
div.current-weather {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #f9f7fe;
	padding-bottom: 30px;
}
.conditions {
	font-weight: 600;
	color: #f65282;
}
div.current-temperature {
	display: block;
}
#current-temperature-icon {
	position: relative;
	top: 20px;
}
.current-temperature-value {
	font-weight: 700;
	font-size: 80px;
}
.current-temperature-unit {
	font-size: 28px;
	position: relative;
	top: -38px;
}
.weekly-forecast {
	display: none;
}
footer p {
	display: block;
	margin: 30px auto 0;
	text-align: center;
}
footer a {
	color: #885df1;
}
